{% extends "home.html" %}

{% block title %} Login {% endblock %}

{% block estilo %}

<style>
  .formulario{
    width: 600px;
    background-color:rgba(255,255,255,0.8);
    padding: 0.5cm 2cm 0.5cm 2cm;
  }
</style>


{% endblock%}


{% block contenido %}
<div class="row formulario">
<form  method="POST">

  <h1>Inicia Sesión</h1>
  {% csrf_token %}
  <div class="contenedor">
      {% if form.errors %}
          <p> Su nombre de usuario y la contraseña no coinciden. Por favor, inténtelo de nuevo. </p>
      {% endif %}
      <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
          <input type="text" placeholder="Nombre de usuario:" name="username">

      </div>

      <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
          <input type="password" placeholder="Contraseña" name="password">
      </div>
      <input type="submit" value="Iniciar Sesión" class="btn btn-info btn-fill pull-right">
</form>
<p>¿No tienes una cuenta? </p>
</div>
{% endblock %}
